@model IEnumerable<Perfume.Models.Category>

@{
    ViewBag.Title = "danhSachDanhMuc";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/MainStyles.css" rel="stylesheet" />
<link href="~/Content/ResponsiveStyle.css" rel="stylesheet" />
<h2>Danh Sách Danh mục</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m=>m.IDCate)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.NameCate)
        </th>
        <th>
            Chức Năng
        </th>
    </tr>
    @foreach(var cate in Model)
            {
                <tr>
                    <td>@Html.DisplayName(cate.IDCate)</td>
                    <td>@Html.DisplayName(cate.NameCate)</td>
                    <td>
                        @Html.ActionLink("Sửa", "Sua", new { id = cate.IDCate.TrimEnd() }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Xóa", "Xoa", new { id = cate.IDCate.TrimEnd() }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Xem chi tiết", "Chitiet", new { id = cate.IDCate.TrimEnd() }, new { @class = "btn btn-dark" })
                    </td>
                </tr>
            }
</table>

