@model Perfume.Models.AdminUser

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}
<link href="~/Content/MainStyles.css" rel="stylesheet" />
<link href="~/Content/ResponsiveStyle.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    .form-register {
        min-height: 100vh;
        background-color: #0d2178; /**/
        padding: 8rem 2rem;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .create-register {
        background-color: beige;
        padding: 3rem;
        border-radius: 15px;
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
    }
    .form-groupregister {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 1rem;
        text-align: center;
    }
    .lable-left {
        text-align: left;
        font-weight: 600;
        color: #0d2178;
    }

    .edit-between {
        text-align: left;
        color: #0d2178;
    }

    .vali-right {
        text-align: left;
        color: darkred;
        font-size: 0.9rem;
    }
    .text-centerregister {
        text-align: center;
        margin-bottom: 2rem;
        color: #0d2178;
        font-weight: 700;
        font-size: 1.8rem;
        padding-bottom: 1rem;
    }
    .form-control {
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 1rem;
        transition: all 0.3s ease;
        width: 100%;
    }


    .btn {
        padding: 15px 30px;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.5rem;
        transition: all 0.3s ease;
        text-decoration: none;
    }

    .btn-primary {
        background: #0d2178;
        color: white;
    }

    .btn-secondary {
        background: #6c757d;
        color: white;
    }

    @@media (max-width: 749px) {
        .form-register {
            padding-top: 17rem;
        }
    }
</style>
<div class="form-register">
    <div class="create-register">
        <h2 class="text-centerregister">Đăng Ký Tài Khỏa</h2>
        @using (Html.BeginForm("Register", "LoginRegister"))
        {
            @Html.AntiForgeryToken()
            <div class="form-groupregister">
                <div class="lable-left">
                    @Html.LabelFor(m => m.ID)
                </div>
                <div class="edit-between">
                    @Html.EditorFor(m => m.ID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="vali-right">
                    @Html.ValidationMessageFor(m => m.ID)
                    @if (ViewBag.ErrorRegister != null)
                    {
                        @ViewBag.ErrorRegister
                    }
                </div>
            </div>
            <div class="form-groupregister">
                <div class="lable-left">
                    @Html.LabelFor(m => m.NameUser)
                </div>
                <div class="edit-between">
                    @Html.EditorFor(m => m.NameUser, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="vali-right">
                    @Html.ValidationMessageFor(m => m.NameUser)
                </div>
            </div>
            <div class="form-groupregister">
                <div class="lable-left">
                    @Html.LabelFor(m => m.RoleUser)
                </div>
                <div class="edit-between">
                    @Html.EditorFor(m => m.RoleUser, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="vali-right">
                    @Html.ValidationMessageFor(m => m.RoleUser)
                </div>
            </div>
            <div class="form-groupregister">
                <div class="lable-left">
                    @Html.LabelFor(m => m.PasswordUser)
                </div>
                <div class="edit-between">
                    @Html.PasswordFor(m => m.PasswordUser, new { @class = "form-control" })
                </div>
                <div class="vali-right">
                    @Html.ValidationMessageFor(m => m.PasswordUser)
                </div>
            </div>
            <div class="form-groupregister">
                <div class="lable-left">
                    @Html.LabelFor(m => m.ConformPass)
                </div>
                <div class="edit-between">
                    @Html.PasswordFor(m => m.ConformPass,new { @class = "form-control" })
                </div>
                <div class="vali-right">
                    @Html.ValidationMessageFor(m => m.ConformPass)
                </div>
            </div>
            <div class="text-centerregister">
                <input type="submit" value="Đăng Ký" class="btn btn-primary" />
                @Html.ActionLink("Login", "Index", "LoginRegister", null, new {@class="btn btn-secondary"})
            </div>
        }
    </div>
</div>

